@model List<UnderPage>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="height:1.5vw;"></div>
<div class="centered-div mw-100 mh-100" style="border-bottom:2px solid black;">
    <div class="row">
        <div class="container">
            @using (Html.BeginForm("Index", "UnderPage", FormMethod.Post, new { name = "header", id = "header" }))
            {

                <div class="row">
                    <div class="col-6">
                        <label style=" width: 29%; text-align: left; display: inline-block;">
                            <b style="color:#555555;font-size:0.8vw;">Sidor arkiv</b>
                            <button type="button" class="btn text-white p-0 text-center form-control" onclick="location.href='@Url.Action("Create", "UnderPage")'" style="font-size: 0.4vw;width:3vw;height:1vw;background-color:#0293fc;">Ny sida +</button>
                        </label>
                    </div>

                    <div class="col-6">
                        <label style=" width: 100%; text-align: right; display: inline-block;">
                            <b style="font-size:0.5vw;margin-top:0.2vw;">Välj huvudmeny:</b>
                            @Html.DropDownList("selecterDropDownValue", (SelectList)ViewData["HeaderTheme"], new { style = "width:3.8vw;height:1vw;font-size:0.5vw;", @onchange = "submitform();", id = "header"})
                        </label>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

    <div class="centered-div mw-100 mh-100">
        <table class="table" style="line-height:0.2vw;">
            <tbody>

                @if (Model != null)
                {
                    foreach (var s in Model.OrderBy(item => item.OrderPosition))
                    {
                      
                            <tr style="line-height:0.2vw;">
                                @if (s.OrderPosition % 2 == 0)
                                {
                                    <td style="font-size:0.5vw;background-color:white;font-weight:bold;" class="p-2">
                                        @Html.DisplayFor(modelItem => s.LinkTitle)
                                    </td>
                                    <td style="background-color: white; text-align: right;font-size: 0.5vw; font-weight: bold;width:79.5%;" class="p-2">
                                        <div class="row" style="margin-left:108em; font-size:0.7em;height:0.5em;margin-top:-0.7em;">
                                            <form asp-action="MoveUp" asp-controller="UnderPage" asp-route-id="@s.Id" method="post" class="d-block">
                                                <input type="submit" value="Upp" class="btn-link" style="height:1.8em;"/>
                                            </form>
                                            <form asp-action="MoveDown" asp-controller="UnderPage" class="pl-2" asp-route-id="@s.Id" method="post">
                                                <input type="submit" value="Ner" class="btn-link" style="height:1.8em;"/>
                                            </form>
                                        </div>
                                  
                                    </td>
                                    <td style="background-color:white;text-align: right; width:100%; display: inline-block;font-size:0.5vw;font-weight:bold;" class="p-2">
                                        <a class="d-block">@Html.ActionLink("Ändra", "Edit", new { id = s.Id })&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                        <a href="#@Html.DisplayTextFor(model => s.pageRoute)" role="button" id="ShowPopup" data-toggle="modal" class="text-decoration-none" style="color:#cc0000;"> <span style="color:black;">-</span> &nbsp;&nbsp;&nbsp;&nbsp;Ta bort</a>

                                        <div id="@Html.DisplayTextFor(model => s.pageRoute)" class="modal fade " role="dialog">
                                            <div class="modal-dialog text-center" style="width:35%;margin-top:10%;">
                                                @await Component.InvokeAsync("DeleteUnderPage", new { Id = s.Id })
                                            </div>
                                        </div>
                                    </td>

                                }
                                else
                                {

                                    <td style="font-size:0.5vw;background-color:#f4f4f4;font-weight:bold;" class="p-2">
                                        @Html.DisplayFor(modelItem => s.LinkTitle)
                                    </td>
                                    <td style="background-color: #f4f4f4; text-align: right;font-size: 0.5vw; font-weight: bold;width:79.5%;" class="p-2">
                                        <div class="row" style="margin-left:108em; font-size:0.7em;height:0.5em;margin-top:-0.7em;">
                                            <form asp-action="MoveUp" asp-controller="UnderPage" asp-route-id="@s.Id" method="post" class="d-block">
                                                <input type="submit" value="Upp" class="btn-link" style="height:1.8em;" />
                                            </form>
                                            <form asp-action="MoveDown" asp-controller="UnderPage" class="pl-2" asp-route-id="@s.Id" method="post">
                                                <input type="submit" value="Ner" class="btn-link" style="height:1.8em;" />
                                            </form>
                                        </div>
                                    </td>
                                    <td style="background-color: #f4f4f4;text-align: right; width:100%; display: inline-block;font-size:0.5vw;font-weight:bold;" class="p-2">

                                        <a class="d-block">@Html.ActionLink("Ändra", "Edit", new { id = s.Id })&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                        <a href="#@Html.DisplayTextFor(model => s.pageRoute)" role="button" id="ShowPopup" data-toggle="modal" class="text-decoration-none" style="color:#cc0000;"> <span style="color:black;">-</span> &nbsp;&nbsp;&nbsp;&nbsp;Ta bort</a>

                                        <div id="@Html.DisplayTextFor(model => s.pageRoute)" class="modal fade " role="dialog">
                                            <div class="modal-dialog text-center" style="width:35%;margin-top:10%;">
                                                @await Component.InvokeAsync("DeleteUnderPage", new { Id = s.Id })
                                            </div>
                                        </div>
                                    </td>
                                }

                            </tr>
                            }
                            }
                            else
                            {
                            <tr style="background-color:#f4f4f4;">
                                <td>
                                    <a style="text-align: left;width:10vw;display:inline-block; font-size: 0.5vw; color: #515151;"><b> Inga sidor tillgängliga</b></a>
                                </td>
                            </tr>
                            }
                          
                    </tbody>
        </table>
    </div>

<script type="text/javascript">
    $(function () {
        $('.modal').click(function () {
            $('<div/>').appendTo('body').dialog({
                close: function (event, ui) {
                    dialog.remove();
                },
                modal: true
            }).load(this.href, {});

            return false;
        });
    });
</script>
<script>
    function submitform() {
        $('#header').submit();
    }
</script>
<script>
    function DoAjaxPostAndMore(btnClicked) {
        var $form = $(btnClicked).parents('form');

        $.ajax({
            type: "POST",
            url: $form.attr('action'),
            data: $form.serialize(),
            error: function (xhr, status, error) {
                //do something about the error
            },
            success: function (response) {
                //do something with response
                LoadBooks();

            }
        });

        return false;// if it's a link to prevent post

    }
</script>