@model List<AdvertsModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="height:1.5vw;"></div>
<div class="centered-div mw-100 mh-100" style="border-bottom:2px solid black;">
    <div class="row">
        <div class="container">
            @using (Html.BeginForm("Index", "Adverts", FormMethod.Post))
            {

                <div class="row">
                    <div class="col-6">
                        <label style=" width: 100%; text-align: left; display: inline-block;">
                            <b style="color:#555555;font-size:0.8vw;">Annons arkiv</b>
                            <button type="button" class="btn text-white p-0 text-center form-control" onclick="location.href='@Url.Action("Create", "Adverts")'" style="font-size: 0.4vw;width:3vw;height:1vw;background-color:#0293fc;">Ny annons +</button>
                        </label>
                    </div>

                    <div class="col-6">
                        <label style=" width: 100%; text-align: right; display: inline-block;">
                            <b style="font-size:0.5vw;margin-top:0.2vw;">Välj annons typ:</b>
                            @Html.DropDownList("selecterDropDownValue", (SelectList)ViewData["TypeOfAd"], new { style = "width:3.8vw;height:1vw;font-size:0.5vw;", @onchange = "submitform();" })
                        </label>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<div class="centered-div mw-100 mh-100">
    <table class="table" style="line-height:0.2vw;">
        <tbody>

            @if (Model != null)
            {
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr style="line-height:0.2vw;">
                        @if (i % 2 == 0)
                        {
                            <td style="font-size:0.5vw;background-color:#f4f4f4;font-weight:bold;" class="p-2">
                                @Html.DisplayFor(modelItem => Model[i].LinkTitle)
                            </td>
                            <td style="background-color: #f4f4f4;text-align: right; width:100%; display: inline-block;font-size:0.5vw;font-weight:bold;" class="p-2">

                                <a class="d-block">@Html.ActionLink("Ändra", "Edit", new { id = Model[i].Id })&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                <a> - &nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("Tabort", "Delete", new { id = Model[i].Id }, new { style = "color:#cc0000" })</a>
                            </td>
                        }
                        else
                        {
                            <td style="font-size:0.5vw;background-color:white;font-weight:bold;" class="p-2">
                                @Html.DisplayFor(modelItem => Model[i].LinkTitle)
                            </td>
                            <td style="background-color: white;text-align: right; width:100%; display: inline-block;font-size:0.5vw;font-weight:bold;" class="p-2">
                                <a class="d-block">@Html.ActionLink("Ändra", "Edit", new { id = Model[i].Id })&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                <a> - &nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("Tabort", "Delete", new { id = Model[i].Id }, new { style = "color:#cc0000" })</a>

                            </td>
                        }

                    </tr>
                }
            }
            else
            {
                <tr style="background-color:#f4f4f4;">
                    <td>
                        <a style="text-align: left;width:10vw;display:inline-block; font-size: 0.5vw; color: #515151;"><b> Inga sidor tillgängliga</b></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    function submitform() {
        $('form').submit();
    }
</script>