@model StartPage

<div class="container">
    <div class="row">
        <div class="col-7">
            <div class="container text-center align-content-center">
                @using (Html.BeginForm("Edit", "StartPage", FormMethod.Post,
new { enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(model => model.Id)
                    <div style="height:1.5vw;"></div>
                    <h4 class="text-left"><b>Redigera startsida</b></h4>
                    <hr />
                    <div style="height:1.5vw;"></div>
                    <div class="p-2">
                        <p style="font-size:0.6vw;" class="text-left"><b>Stripe</b></p>
                        <hr />
                        <div class="form-group text-left">
                            @Html.HiddenFor(model => model.StartPage_ImgContents[0].ImgSrc)
                            <label class="d-block" style="font-size:0.5vw;"><b>Splash Bild</b></label>
                            <img class="d-block" src=@Html.DisplayTextFor(model => model.StartPage_ImgContents[0].ImgSrc) width="240" height="140" style="border:1px solid gray;" />
                            @Html.HiddenFor(model => model.StartPage_ImgContents[0].File)
                            @Html.EditorFor(model => model.StartPage_ImgContents[0].File)
                        </div>
                        <div class="form-group text-center">
                            <label class="d-block text-left" style="font-size:0.5vw;"><b>Rubrik:</b></label>
                            <input  asp-for="@Model.StartPage_TitleContents[0].TextContent" class = "form-control" style = "font-size:0.5vw;height:1.2vw;width:10vw;background-color:white;border:1px solid lightgray;"/>
                        </div>
                        <hr />
                        <div class="form-group text-center">
                            <label style="display:block;text-align:left;font-size:0.5vw;"><b>Brödtext: </b></label>
                            <textarea asp-for="@Model.StartPage_TextContents[0].TextContent" class = "form-control" style = "width:100%;height:6vw;resize:none;font-size:0.6vw;" ></textarea>
                        </div>
                        <div style="height:0.5vw;"></div>
                        <div class="row mw-100 mh-100">
                            <div class="col-6 center">
                                <div class="form-group text-center">
                                    <label class="d-block" style="text-align:left;font-size:0.5vw;"><b>LänkText: </b></label>
                                    <input asp-for="@Model.StartPage_TextContents[1].TextContent" class = "form-control" style = "font-size:0.5vw;height:1.2vw;width:10vw;background-color:white;border:1px solid lightgray;" /> 
                                </div>
                            </div>
                            <div class="col-6 center">
                                <div class="form-group text-center">
                                    <label class="d-block" style="text-align:left;font-size:0.5vw;"><b>Sökväg till sidan: </b></label>
                                    <input asp-for="@Model.StartPage_Links[0].Url" class = "form-control" style = "font-size:0.5vw;height:1.2vw;width:10vw;background-color:white;border:1px solid lightgray;" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height:1.5vw;"></div>
                    <div class="p-2">
                        <p style="font-size:0.6vw;" class="text-left"><b>Box 1</b></p>
                        <hr />
                        <div style="height:0.5vw;"></div>
                        <div class="form-group text-left">
                            @Html.HiddenFor(model => model.StartPage_ImgContents[1].ImgSrc)
                            <label class="d-block" style="font-size:0.5vw;"><b>Splash Bild</b></label>
                            <img class="d-block" src=@Html.DisplayTextFor(model => model.StartPage_ImgContents[1].ImgSrc) width="240" height="140" style="border:1px solid gray;" />
                            @Html.HiddenFor(model => model.StartPage_ImgContents[1].File)
                            @Html.EditorFor(model => model.StartPage_ImgContents[1].File)
                        </div>
                        <div class="form-group text-center">
                            <label class="d-block text-left" style="font-size:0.5vw;"><b>Rubrik:</b></label>
                            <input asp-for="@Model.StartPage_TitleContents[1].TextContent" class="form-control" style="font-size: 0.5vw; height: 1.2vw; width: 10vw; background-color: white; border: 1px solid lightgray;" />
                        </div>
                        <label style="display:block;text-align:left;font-size:0.5vw;"><b>Brödtext: </b></label>
                        <textarea asp-for="@Model.StartPage_TextContents[2].TextContent" class="form-control" style = "width:100%;height:6vw;resize:none;font-size:0.6vw;"></textarea>
                        <div style="height:0.5vw;"></div>
                        <div class="form-group text-left">
                            <div class="row mw-100 mh-100">
                                <div class="col-6 center">
                                    <div class="form-group text-center">
                                        <label class="d-block" style="text-align:left;font-size:0.5vw;"><b>LänkText: </b></label>
                                        <input asp-for="@Model.StartPage_TextContents[3].TextContent" class="form-control" style="font-size:0.5vw;height:1.2vw;width:10vw;background-color:white;border:1px solid lightgray;" />
                                    </div>
                                </div>
                                <div class="col-6 center">
                                    <div class="form-group text-center">
                                        <label class="d-block" style="text-align:left;font-size:0.5vw;"><b>Sökväg till sidan: </b></label>
                                        <input asp-for="@Model.StartPage_Links[1].Url"  class = "form-control" style = "font-size:0.5vw;height:1.2vw;width:10vw;background-color:white;border:1px solid lightgray;"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height:1.5vw;"></div>
                    <div class="p-2">
                        <p style="font-size:0.6vw;" class="text-left"><b>Box 2</b></p>
                        <hr />
                        <div style="height:0.5vw;"></div>
                        <div class="form-group text-left">
                            @Html.HiddenFor(model => model.StartPage_ImgContents[2].ImgSrc)
                            <label class="d-block" style="font-size:0.5vw;"><b>Splash Bild</b></label>
                            <img class="d-block" src=@Html.DisplayTextFor(model => model.StartPage_ImgContents[2].ImgSrc) width="240" height="140" style="border:1px solid gray;" />
                            @Html.HiddenFor(model => model.StartPage_ImgContents[2].File)
                            @Html.EditorFor(model => model.StartPage_ImgContents[2].File)
                        </div>
                        <div class="form-group text-left">
                            <label class="d-block text-left" style="font-size:0.5vw;"><b>Rubrik:</b></label>
                            <input asp-for="@Model.StartPage_TitleContents[2].TextContent" class="form-control" style="font-size: 0.5vw; height: 1.2vw; width: 10vw; background-color: white; border: 1px solid lightgray;" />
                        </div>
                        <label style="display:block;text-align:left;font-size:0.5vw;"><b>Brödtext: </b></label>
                        <textarea asp-for="@Model.StartPage_TextContents[4].TextContent" class="form-control" style="width:100%;height:6vw;resize:none;font-size:0.6vw;"></textarea>
                        <div style="height:0.5vw;"></div>
                        <div class="form-group text-center">
                            <div class="row mw-100 mh-100">
                                <div class="col-6 center">
                                    <div class="form-group text-center">
                                        <label class="d-block" style="text-align:left;font-size:0.5vw;"><b>LänkText: </b></label>
                                        <input asp-for="@Model.StartPage_TextContents[5].TextContent" class="form-control" style="font-size:0.5vw;height:1.2vw;width:10vw;background-color:white;border:1px solid lightgray;" />
                                    </div>
                                </div>
                                <div class="col-6 center">
                                    <div class="form-group text-center">
                                        <label class="d-block" style="text-align:left;font-size:0.5vw;"><b>Sökväg till sidan: </b></label>
                                        <input asp-for="@Model.StartPage_Links[2].Url" class="form-control" style="font-size:0.5vw;height:1.2vw;width:10vw;background-color:white;border:1px solid lightgray;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height:1.5vw;"></div>
                    <div class="p-2">
                        <p style="font-size:0.6vw;" class="text-left"><b>Box 3</b></p>
                        <hr />
                        <div style="height:0.5vw;"></div>
                        <div class="form-group text-left">
                            @Html.HiddenFor(model => model.StartPage_ImgContents[3].ImgSrc)
                            <label class="d-block" style="font-size:0.5vw;"><b>Splash Bild</b></label>
                            <img class="d-block" src=@Html.DisplayTextFor(model => model.StartPage_ImgContents[3].ImgSrc) width="240" height="140" style="border:1px solid gray;" />
                            @Html.HiddenFor(model => model.StartPage_ImgContents[3].File)
                            @Html.EditorFor(model => model.StartPage_ImgContents[3].File)
                        </div>
                        <div class="form-group text-center">
                            <label class="d-block text-left" style="font-size:0.5vw;"><b>Rubrik:</b></label>
                            <input asp-for="@Model.StartPage_TitleContents[3].TextContent" class="form-control" style="font-size: 0.5vw; height: 1.2vw; width: 10vw; background-color: white; border: 1px solid lightgray;" />
                        </div>
                        <label style="display:block;text-align:left;font-size:0.5vw;"><b>Brödtext: </b></label>
                        <textarea asp-for="@Model.StartPage_TextContents[6].TextContent" class="form-control" style="width:100%;height:6vw;resize:none;font-size:0.6vw;"></textarea>
                        <div style="height:0.5vw;"></div>
                        <div class="form-group text-center">
                            <div class="row mw-100 mh-100">
                                <div class="col-6 center">
                                    <div class="form-group text-center">
                                        <label class="d-block" style="text-align:left;font-size:0.5vw;"><b>LänkText: </b></label>
                                        <input asp-for="@Model.StartPage_TextContents[7].TextContent" class="form-control" style="font-size:0.5vw;height:1.2vw;width:10vw;background-color:white;border:1px solid lightgray;" />
                                    </div>
                                </div>
                                <div class="col-6 center">
                                    <div class="form-group text-center">
                                        <label class="d-block" style="text-align:left;font-size:0.5vw;"><b>Sökväg till sidan: </b></label>
                                        <input asp-for="@Model.StartPage_Links[3].Url" class="form-control" style="font-size:0.5vw;height:1.2vw;width:10vw;background-color:white;border:1px solid lightgray;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height:2.5vw;"></div>
                    <div class="p-2">
                        <p style="font-size:0.6vw;" class="text-left"><b>Stripe</b></p>
                        <hr />
                        <div style="height:0.5vw;"></div>
                        <div class="form-group text-center">
                            <label class="d-block text-left" style="font-size:0.5vw;"><b>Rubrik:</b></label>
                            <input asp-for="@Model.StartPage_TitleContents[4].TextContent" class="form-control" style="font-size: 0.5vw; height: 1.2vw; width: 10vw; background-color: white; border: 1px solid lightgray;" />
                        </div>
                        <div class="form-group p-0 ">
                            <label style="display:block;text-align:left;font-size:0.5vw;"><b>Brödtext: </b></label>
                            <textarea asp-for="@Model.StartPage_TextContents[8].TextContent" class="form-control" id="editor1" style="width:100%;height:12vw;resize:none;font-size:0.6vw;"></textarea>
                        </div>
                        <div class="form-group text-left">
                            @Html.HiddenFor(model => model.StartPage_ImgContents[5].ImgSrc)
                            <label class="d-block" style="font-size:0.5vw;"><b>Splash Bild</b></label>
                            <img class="d-block" src=@Html.DisplayTextFor(model => model.StartPage_ImgContents[5].ImgSrc) width="240" height="140" style="border:1px solid gray;" />
                            @Html.HiddenFor(model => model.StartPage_ImgContents[5].File)
                            @Html.EditorFor(model => model.StartPage_ImgContents[5].File)
                        </div>
                        <div class="form-group text-left">
                            @Html.HiddenFor(model => model.StartPage_ImgContents[4].ImgSrc)
                            <label class="d-block" style="font-size:0.5vw;"><b>Splash Bild</b></label>
                            <img class="d-block" src=@Html.DisplayTextFor(model => model.StartPage_ImgContents[4].ImgSrc) width="240" height="140" style="border:1px solid gray;" />
                            @Html.HiddenFor(model => model.StartPage_ImgContents[4].File)
                            @Html.EditorFor(model => model.StartPage_ImgContents[4].File)
                        </div>
                        <div class="row mw-100 mh-100">
                            <div class="col-6 center">
                                <div class="form-group text-left">
                                    <label class="d-block" style="text-align:left;font-size:0.5vw;"><b>LänkText: </b></label>
                                    <input asp-for="@Model.StartPage_TextContents[9].TextContent" class="form-control" style="font-size:0.5vw;height:1.2vw;width:10vw;background-color:white;border:1px solid lightgray;" />
                                </div>
                            </div>
                            <div class="col-6 center">
                                <div class="form-group text-left;">
                                    <label class="d-block" style="text-align:left;font-size:0.5vw;"><b>Sökväg till sidan: </b></label>
                                    <input asp-for="@Model.StartPage_Links[4].Url" class="form-control" style="font-size:0.5vw;height:1.2vw;width:10vw;background-color:white;border:1px solid lightgray;" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height:1.5vw;"></div>
                    <hr />
                    <div class="row">
                        <div class="col-6 text-left">
                            <button type="button" class="btn text-white p-0 text-center" onclick="location.href='@Url.Action("Index", "UnderPage")'" style="font-size: 0.4vw;width:3.8vw;height:1.2vw;background-color:#8c8c8c;">Avbryt</button>
                        </div>
                        <div class="col-6 text-right">
                            <button type="submit" class="btn text-white p-0 text-center" style="font-size: 0.4vw;width:3.8vw;height:1.2vw;background-color:#0293fc;">Bekräfta</button>
                        </div>
                    </div>
                    <div style="height:2.5vw;"></div>

                }
            </div>
        </div>
        <div class="col-auto"></div>
    </div>
</div>