@model EventModel
@{
    TempData["Modelid"] = Model.Id.ToString();
}
<div style="height:1.5vw;"></div>
<div class="centered-div mw-100 mh-100" style="border-bottom:2px solid black;">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-10">
                    <label style=" width: 100%; text-align: left; display: inline-block;">
                        <b style="color:#555555;font-size:0.8vw;">@Model.EventTitle</b>
                    </label>
                </div>
                <div class="col-2">
                    @if (Model.Applicants.Count() > 0)
                    {

                        <label style="text-align: right; display: inline-block;">
                            @Html.ActionLink("Ladda ner mailadresser", "Download", new { fileName = Model.EventTitle }, new { @class = "btn btn-primary", style = "font-size:0.6em;margin-left:2.2em;", id = "downloadlink" })
                        </label>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
<div class="centered-div mw-100 mh-100">
    <table class="table" style="line-height:0.2vw;margin-top:-0.2em;" id="applicantsTable">
        <tbody>
            <tr style="line-height:0.2vw;line-height:1em;margin-bottom:0.2em;border-top:2px solid black;border-bottom:2px solid black;background-color:#f4f4f4;">
                <td style="font-size: 0.5vw; font-weight: bold;"><span style="margin-left:-0.5em;">Namn</span></td>
                <td style="font-size: 0.5vw; font-weight: bold;"><span style="margin-left:-0.5em;">GolfId</span></td>
                <td style="font-size: 0.5vw; font-weight: bold;"><span style="margin-left:-0.5em;">Hemmaklubb</span></td>
                <td style="font-size: 0.5vw; font-weight: bold;"><span style="margin-left:-0.5em;">Mailadress</span></td>
                <td style="font-size: 0.5vw; font-weight: bold;"><span style="margin-left:-0.5em;">Telefon</span></td>
                <td style="font-size: 0.5vw; font-weight: bold;"><span style="margin-left:-0.5em;">Mer info</span></td>
            </tr>
            @if (Model != null &&
            Model.Applicants != null &&
            Model.Applicants.Count() > 0)
            {
                @for (int i = 0; i < Model.Applicants.Count(); i++)
                {
                    @if (i % 2 == 0)
                    {
                        <tr style="line-height:0.2vw;">
                            <td style="background-color: #f4f4f4;font-size:0.5vw;font-weight:bold;" class="p-2">
                                @Model.Applicants[i].FirstName &nbsp; @Model.Applicants[i].SurName
                            </td>
                            <td style="background-color: #f4f4f4;font-size:0.5vw;font-weight:bold;" class="p-2">
                                @Model.Applicants[i].GolfId
                            </td>
                            <td style="background-color: #f4f4f4;font-size:0.5vw;font-weight:bold;" class="p-2">
                                @Model.Applicants[i].HomeClubName
                            </td>
                            <td style="background-color: #f4f4f4;font-size:0.5vw;font-weight:bold;" class="p-2 emailClass" name="email">
                                @Model.Applicants[i].Email
                            </td>
                            <td style="background-color: #f4f4f4;font-size:0.5vw;font-weight:bold;" class="p-2">
                                @Model.Applicants[i].Phone
                            </td>
                            <td style="background-color: #f4f4f4;font-size:0.5vw;font-weight:bold;" class="p-2">
                                <a>@Html.ActionLink("Visa", "DetailedViewOfApplicants", new { id = Model.Applicants[i].Id, eventId = Model.Id })</a>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr style="line-height:0.2vw;">
                            <td style="background-color: white;font-size:0.5vw;font-weight:bold;" class="p-2">
                                @Model.Applicants[i].FirstName &nbsp; @Model.Applicants[i].SurName
                            </td>
                            <td style="background-color: white;font-size:0.5vw;font-weight:bold;" class="p-2">
                                @Model.Applicants[i].GolfId
                            </td>
                            <td style="background-color: white;font-size:0.5vw;font-weight:bold;" class="p-2">
                                @Model.Applicants[i].HomeClubName
                            </td>
                            <td style="background-color: white;font-size:0.5vw;font-weight:bold;" class="p-2 emailClass" name="email">
                                @Model.Applicants[i].Email
                            </td>
                            <td style="background-color: white;font-size:0.5vw;font-weight:bold;" class="p-2">
                                @Model.Applicants[i].Phone
                            </td>
                            <td style="background-color: white;font-size:0.5vw;font-weight:bold;" class="p-2">
                                <a>@Html.ActionLink("Visa", "DetailedViewOfApplicants", new { id = Model.Applicants[i].Id, eventId = Model.Id })</a>
                            </td>
                        </tr>
                    }
                }
            }
            else
            {
                <tr style="background-color:#f4f4f4;">
                    <td>
                        <a style="text-align: left;width:10vw;display:inline-block; font-size: 0.5vw; color: red;"><b> Inga deltagare anmälda</b></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@*
<script>
    function DownloadTextFile() {
        alert('hello');
        let email []= document.getElementsByName("email");
        alert(email.length);
     
        $.ajax({
            type: "GET",
            url:@Url.Action("Download","Events"),
            data: $form.serialize(),
            error: function (xhr, status, error) {
                //do something about the error
                alert('error');
            },
            success: function (response) {
                //do something with response
                alert('Succses');

            }
        });
    }
</script>*@