@model ContentManagement.Models.EventsModel.EventModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-7">
            <div style="height:1.5vw;"></div>
            <h4>Vill du tabort eventet @Model.EventTitle</h4>
            <hr />
            <div>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.EventTitle)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.EventTitle)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.EventTextContent)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.EventTextContent)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Edited)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Edited)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.BodyText)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.BodyText)
                    </dd>
                    @foreach (var s in Model.Links)
                    {
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => s.Url)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => s.Url)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => s.LinkTitle)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => s.LinkTitle)
                        </dd>
                    }
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.EventStart)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.EventStart)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.EventEnds)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.EventEnds)
                    </dd>
                </dl>
                <div style="height:1.5vw;"> </div>
                <hr />
                @using (Html.BeginForm("Delete", "Events", FormMethod.Post,
               new { enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.Links[0].Id)
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn text-white p-0 text-center" onclick="location.href='@Url.Action("Index", "Events")'" style="font-size: 0.4vw;width:3.8vw;height:1.2vw;background-color:#8c8c8c;">Avbryt</button>
                            </div>
                            <div class="col-6 text-right">
                                <button type="submit" class="btn text-white p-0 text-center" style="font-size: 0.4vw;width:3.8vw;height:1.2vw;background-color:#cc0000;">Tabort</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-auto"></div>
    </div>
</div>
