@model List<EventModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div style="height:1.5vw;"></div>
<div class="centered-div mw-100 mh-100" style="border-bottom:2px solid black;">
    <div class="row">
        <div class="container">

            <div class="row">
                <div class="col-6">
                    <label style=" width: 100%; text-align: left; display: inline-block;">
                        <b style="color:#555555;font-size:0.8vw;">Event arkiv</b>
                        <button type="button" class="btn text-white p-0 text-center form-control" onclick="location.href='@Url.Action("Create", "Events")'" style="font-size: 0.4vw;width:3vw;height:1vw;background-color:#0293fc;">Nytt Event +</button>
                    </label>
                </div>
                <div class="col-6">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="centered-div mw-100 mh-100">
    <table class="table" style="line-height:0.2vw;">
        <tbody>

            @if (Model != null)
            {
                @for (int i = 0; i < Model.Count(); i++)
                {
            <tr style="line-height:0.2vw;">
                @if (i % 2 == 0)
                {
                    <td style="font-size:0.5vw;background-color:#f4f4f4;font-weight:bold;" class="p-2">
                        @Html.DisplayFor(modelItem => Model[i].EventTitle)
                    </td>
                    <td style="background-color: #f4f4f4;text-align: right; width:100%; display: inline-block;font-size:0.5vw;font-weight:bold;" class="p-2">

                        <a class="d-block">@Html.ActionLink("Ändra", "Edit", new { id = Model[i].Id })&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <a href="#@Html.DisplayTextFor(model => model[i].EventTitle).Replace(" ","")" role="button" id="ShowPopup" data-toggle="modal" class="text-decoration-none" style="color:#cc0000;"> <span style="color:black;">-</span> &nbsp;&nbsp;&nbsp;&nbsp;Ta bort</a>
                        <div id="@Html.DisplayTextFor(model => model[i].EventTitle).Replace(" ","")" class="modal fade " role="dialog">
                            <div class="modal-dialog text-center" style="width:35%;margin-top:10%;">
                                @await Component.InvokeAsync("DeleteEvent", new { Id = Model[i].Id })
                            </div>
                        </div>
                    </td>
                }
                else
                {
                    <td style="font-size:0.5vw;background-color:white;font-weight:bold;" class="p-2">
                        @Html.DisplayFor(modelItem => Model[i].EventTitle)
                    </td>
                    <td style="background-color: white;text-align: right; width:100%; display: inline-block;font-size:0.5vw;font-weight:bold;" class="p-2">
                        <a class="d-block">@Html.ActionLink("Ändra", "Edit", new { id = Model[i].Id })&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <a href="#@Html.DisplayTextFor(model => model[i].EventTitle).Replace(" ","")" role="button" id="ShowPopup" data-toggle="modal" class="text-decoration-none" style="color:#cc0000;"> <span style="color:black;">-</span> &nbsp;&nbsp;&nbsp;&nbsp;Ta bort</a>
                        <div id="@Html.DisplayTextFor(model => model[i].EventTitle).Replace(" ","")" class="modal fade " role="dialog">
                            <div class="modal-dialog text-center" style="width:35%;margin-top:10%;">
                                @await Component.InvokeAsync("DeleteEvent", new { Id = Model[i].Id })
                            </div>
                        </div>
                    </td>
                }

            </tr>
                }
            }
            else
            {
                <tr style="background-color:#f4f4f4;">
                    <td>
                        <a style="text-align: left;width:10vw;display:inline-block; font-size: 0.5vw; color: #515151;"><b> Inga sidor tillgängliga</b></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(function () {
        $('.modal').click(function () {
            $('<div/>').appendTo('body').dialog({
                close: function (event, ui) {
                    dialog.remove();
                },
                modal: true
            }).load(this.href, {});
            return false;
        });
    });
</script>